<!-- wp:template-part {"slug":"header","theme":"razil"} /-->

<!-- wp:group {"style":{"color":{"background":"var(\u002d\u002drz-surface)"},"spacing":{"padding":{"top":"2rem","right":"1rem","bottom":"2rem","left":"1rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group has-background" style="background-color:var(--rz-surface);padding-top:2rem;padding-right:1rem;padding-bottom:2rem;padding-left:1rem">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:search /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"color":{"background":"var(\u002d\u002drz-bg)"},"spacing":{"padding":{"top":"3rem","right":"1rem","bottom":"3rem","left":"1rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group has-background" style="background-color:var(--rz-bg);padding-top:3rem;padding-right:1rem;padding-bottom:3rem;padding-left:1rem">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"relevance","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
		<div class="wp-block-query">
			<!-- wp:post-template -->
			<div class="wp-block-post-template is-layout-flow">
				<!-- wp:group {"style":{"color":{"background":"var(\u002d\u002drz-surface)"},"border":{"radius":"8px"},"spacing":{"margin":{"bottom":"1.5rem"},"padding":{"top":"1.5rem","right":"1.5rem","bottom":"1.5rem","left":"1.5rem"}}}} -->
				<div class="wp-block-group has-background" style="border-radius:8px;background-color:var(--rz-surface);margin-bottom:1.5rem;padding-top:1.5rem;padding-right:1.5rem;padding-bottom:1.5rem;padding-left:1.5rem">
					<!-- wp:post-title {"isLink":true,"fontSize":"heading-s"} /-->
					<!-- wp:post-excerpt {"moreText":"Читать дальше"} /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:post-template -->

			<!-- wp:no-results -->
			<div class="wp-block-no-results">
				<!-- wp:heading -->
				<h2 class="wp-block-heading">Результаты не найдены</h2>
				<!-- /wp:heading -->

				<!-- wp:paragraph -->
				<p>По вашему запросу ничего не найдено. Попробуйте другие ключевые слова.</p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:no-results -->
		</div>
		<!-- /wp:query -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sticky-call","theme":"razil"} /-->

<!-- wp:template-part {"slug":"footer","theme":"razil"} /-->
